/* Global reset and font setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

/* Logo specific styles */
.logo {
  width: 15%;
  height: auto;
  cursor: pointer;
  padding: 10px 50px;
}

/* Container for full-width background with gradient and image */
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(117, 190, 218, 0.4), rgba(9, 0, 77, 0.8)), url(./images/machine.jpg);
  background-size: cover;
  background-position: center;
}

/* Styles for accordion container with minor adjustments for reuse */
.accordian-container, .about-rectangle {
  background: rgb(20, 4, 58);
  width: 60%;
  border-radius: 7px;
  margin-left: 20%;
  padding: 20px;
}

/* Specific to .about-rectangle for distinct appearance */
.about-rectangle {
  background: rgb(223, 11, 82);
  border: 1px solid rgb(20, 4, 58);
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
}

/* General accordion styles */
.accordion {
  background-color: #9453d1;
  color: white;
  cursor: pointer;
  padding: 30px;
  width: 75%;
  border: 1px solid rgb(20, 4, 58);
  border-radius: 20px;
  margin-left: 12%;
  transition: 0.4s;
  font-weight: 700;
  font-size: 22px;
}

/* Hover and active state for accordion for visual feedback */
.accordion:hover, .active {
  background-color: #641b81;
}

/* Panel styling hidden by default, reveal with JS */
.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-left: 12%;
  padding: 0 18px;
  color: white;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* Plus and minus icons for accordion control */
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
