/* Setup styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.logo {
    width: 15%;
    /* Autosizes the image height, based on given width */
    height: auto;
    /* Activates mouse cursor when image is hovered over */
    cursor: pointer;
    padding: 10px 50px;
}

.container {
    width: 100%;
    min-height: 100vh;
    /* Set background image with overlaying colour gradient (includes opacity) */
    background-image: linear-gradient(rgb(117 190 218 /40%),rgb(9,0,77,80%)), url(./images/machine.jpg);
    /*Set size of the background image */
    background-size: cover;
    /*Set position of resize background image */
    background-position: center;
}

.leaderboard-rectangle {
  background: rgb(223, 11, 82);
  padding: 20px;
  width: 60%;
  text-align: center;
  border: 1px solid rgb(20, 4, 58);
  /* Round the corners */
  border-radius: 7px;
  font-weight: 700;
  font-size: 32px;
  margin-left: 20%;
  color: #ffffff;
  margin-bottom: 0.5%;
}

/* Style the buttons that are used to open and close the accordion panel */
.leaderboard-entry {
  background-color: #07010ef5;
  color: #ffffff;
  cursor: pointer;
  padding: 30px;
  width: 60%;
  text-indent: 2%;
  border: 1px solid rgb(20, 4, 58);
  transition: 0.4s;
  /* Round the corners */
  border-radius: 7px;
  font-weight: 300;
  font-size: 22px;
  margin-left: 20%;
  margin-bottom: 0.1%;
}

.ranking-text {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: yellow;
}

.player-name-text {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: yellow; 
    text-wrap: nowrap;
}

.recorded-time-text {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px;   
    background-color: yellow;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .leaderboard-entry:hover {
  background-color: #565658f5;
}